In [4]:
# Importando bibliotecas
import pandas as pd
from datetime import datetime
from datetime import timedelta

# Adiciona nova linha no DataFrame principal
def addRow(base_df, df):
    new_row = {'data' : str(df.iloc[-1][0]),
       'dia' : str(df.iloc[-1][1]),
       'seguidores' : str(df.iloc[-1][2]), 
       'seguindo' : str(df.iloc[-1][3]) , 
       'posts' : str(df.iloc[-1][4]) }
    return base_df.append(new_row, ignore_index = True)  

# Junta as linhas de todos os DataFrames das pastas presentes de um usuario
def joinAllDays(user):
    initial_day = '19-02-2021'
    day = (datetime.strptime(initial_day, "%d-%m-%Y") + timedelta(days = 0)).strftime("%d-%m-%Y")
    df_base = pd.read_csv(f'participantes/dados/{day}/{user}.csv')
    i = 1
    exists = True
    while exists:
        try:
            day = (datetime.strptime(initial_day, "%d-%m-%Y") + timedelta(days = i)).strftime("%d-%m-%Y")
            new_df = pd.read_csv(f'participantes/dados/{day}/{user}.csv')
            df_base = addRow(df_base, new_df)
            i += 1
        except:
            exists = False
            print(f'Tabela de {user} completamente atualizada!')
    return df_base

# Unifica os dados de todos os usuarios e cria um .csv para cada um na pasta 'total'
def updateAll(file_name):
    file = open('participantes/usuarios/' + file_name + '.txt')
    user_list = file.read().split()
    for user in user_list:
        df = joinAllDays(user)
        df.to_csv(f'participantes/dados/total/{user}.csv', index = False)
    file.close()
    
# Executa a função
updateAll('nomes')

Tabela de kercardoso completamente atualizada!
Tabela de juliette.freire completamente atualizada!
Tabela de arthurpicoli completamente atualizada!
Tabela de afiune_caio completamente atualizada!
Tabela de joaolpedrosa completamente atualizada!
Tabela de bilaraujjo completamente atualizada!
Tabela de carladiaz completamente atualizada!
Tabela de karolconka completamente atualizada!
Tabela de camilladelucas completamente atualizada!
Tabela de pocah completamente atualizada!
Tabela de negodioficial completamente atualizada!
Tabela de lucaskokapenteado completamente atualizada!
Tabela de irodolffo completamente atualizada!
Tabela de lumena.aleluia completamente atualizada!
Tabela de gilnogueiraofc completamente atualizada!
Tabela de viihtube completamente atualizada!
Tabela de sarah_andrade completamente atualizada!
Tabela de projota completamente atualizada!
Tabela de fiuk completamente atualizada!
Tabela de thaisfbraz completamente atualizada!

In [270]:
# def updateAllrows(file_name):
#     file = open('participantes/usuarios/' + file_name + '.txt')
#     user_list = file.read().split()
#     for user in user_list:
#         df = pd.read_csv(f'participantes/dados/21-02-2021/{user}.csv')
#         df = df.drop([13])
#         df.to_csv(f'participantes/dados/21-02-2021/{user}.csv', index = False)
#     file.close()
    
# updateAllrows('nomes')

In [286]:
pd.read_csv('participantes/dados/total/juliette.freire.csv')

          data  dia  seguidores  seguindo  posts
0   2021-02-06  Sab     4629083      1480    189
1   2021-02-07  Dom     5213605      1483    193
2   2021-02-08  Seg     6139361      1483    198
3   2021-02-09  Ter     6466259      1488    206
4   2021-02-10  Qua     6963902      1486    210
5   2021-02-11  Qui     7327856      1491    216
6   2021-02-12  Sex     7572443      1490    218
7   2021-02-13  Sab     7771061      1492    223
8   2021-02-14  Dom     7957152      1494    226
9   2021-02-15  Seg     8204246      1495    231
10  2021-02-16  Ter     8428874      1499    235
11  2021-02-17  Qua     8738898      1499    239
12  2021-02-18  Qui     8945611      1501    243
13  2021-02-19  Sex     9157418      1504    247
14  2021-02-20  Sab     9375361      1502    251
15  2021-02-20  Sab     9375361      1502    251
16  2021-02-21  Dom     9638379      1506    254
17  2021-02-23  Ter    10510823      1510    262
18  2021-02-24  Qua    10832248      1510    266